header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .logo {
        img {
            height: 100px;
            width: 100px;
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0 auto;

        #Toptext {
            align-self: center;
        }

        #search {
            padding: 5px 20px;
            margin-top: 0px;

            height: 30px;
            width: 600px;

            border: 2px solid rgb(37, 81, 127);
            border-radius: 50px;

            font-size: larger;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin: 4px 0 4px 0;

        .login {
            width: 210px;
            height: 30px;

            font-size: larger;

            border-radius: 18px;
        }

        .login:hover {
            cursor: pointer;
            background-color: rgb(147, 199, 245);
        }
    }

}

h1 {
    text-align: center;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;

    .card {
        display: flex;
        flex-direction: column;

        padding: 0 5px 5px 5px;
        width: 250px;

        border: 2px solid black;
        border-radius: 8px;

        display: inline-block;
        position: relative;

        .cardTop {
            display: flex;
            flex-direction: column;

            text-align: left;
            font-style: italic;

            .cardImage {
                width: 100px;
                height: 100px;
            }
        }

        .cardMiddle {
            display: flex;
            flex-direction: column;

            height: 130px;

            .description {
                overflow: auto;
            }

            .rate {
                margin: 0;
                text-align: right;
            }
        }

        .cardFooter {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 10px 0 3px 0;

            .cost {
                border: 2px solid green;
                border-radius: 15px;

                padding: 4px;
                margin: 0;

                background-color: rgba(0, 128, 0, 0.4);
                color: rgb(13, 52, 13);
            }

            .buyButton {
                margin-right: 0 auto;

                height: 30px;

                border-radius: 10px;
            }

            .buyButton:hover {
                cursor: pointer;
                background-color: rgb(180, 255, 255);
            }
        }
    }
}

.columns {
    display: flex;
    flex-direction: row;

    margin: 40px;
    gap: 10px;

    font-size: 30px;

    .leftColumn {
        display: flex;
        flex-direction: column;

        box-sizing: border-box;

        padding: 5px 10px 0 10px;

        width: 30%;
        border: 2px solid black;
        border-radius: 5px;

        a {
            text-decoration: none;
            color: brown;
        }

        a:hover {
            color: red;
        }
    }

    .rightColumn {
        display: flex;
        flex-direction: column;
        
        width: 100%;

        padding: 0 10px;
        box-sizing: border-box;

        border: 2px solid black;
        border-radius: 5px;

        .topPanel {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            border-bottom: 1px solid black;

            .cardButton {
                margin: 10px 0 4px auto;
                font-size: 30px;

                border-radius: 10px;
            }

        }

        .content {
            display: flex;
            flex-direction: row;
            align-content: space-between;

            .contentRight {
                margin: 0 0 0 auto;

            }
        }
    }
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 2px solid black;
    border-radius: 45px;
    
    padding: 0 20px;
    margin: 10px 40px;

    font-size: 30px;

    .lineButton{
        font-size: 30px;
        margin: 10px 0 10px auto;
        
        border-radius: 40px;

        background-color: rgba(211, 31, 31, 0.303);
        color: rgba(255, 0, 0, 0.658);
        cursor: pointer;
    }
}