.logo {
    img {
        height: 100px;
        width: 100px;
    }
}

header {
    display: flex;
}

.login {
    justify-content: center;
    margin-left: auto;

    width: 100px;

    font-size: larger;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {

    width: 100px;
    height: 100px;

    padding: 0 5px 5px 5px;

    border: 2px solid black;
    border-radius: 8px;

    display: inline-block;
    position: relative;

    text-align: center;

    .cardImage {
        width: 100px;
        height: 100px;
    }
}

.cards {
    margin-top: 20px;

    display: flex;
    justify-content: center;

    gap: 10px;
    flex-wrap: wrap;

    a {
        text-decoration: none;
        color: rgb(37, 134, 208);
    }
}



.stuff {
    width: 150px;
    height: 150px;

    padding: 5px 5px 20px 5px;

    border: 2px solid black;
    border-radius: 35px;

    display: inline-block;
    position: relative;

    text-align: center;

    .profileImage {
        width: 100px;
        height: 100px;
    }

}

.stuff:hover {
    color: rgb(49, 210, 255);
    background-color: rgba(73, 78, 82, 0.49);
    transition: 0.3s ease;
}